<section class="wd-title-bar">
  <div class="row">
    <div class="large-12 columns p-t-70 text-left">
      <h2 id="page-title" class="title">About Gas on Wheels</h2>
      {{!-- <h5>Affordable, environmental friendly energy</h5> --}}
    </div>
  </div>
</section>
<section class="green_solar">
  <div class="row">
    <div class="large-12 columns  wd-title-section_c">
      

    </div>
    {{!-- <div class="large-6 small-12 columns">
      <div class="">
        <img class=" " src="images/z2-570x370.jpg" alt="z2" title="z2" width="570" height="370"></div>
    </div> --}}
    <div class="large-12 small-12 columns">
      <div class="wd-title-block">
        <h5>Aims and Objective</h5>
      </div>
      <p>Provide clean energy to millions of Nigerians using our “Top up or refill” model (flexible purchase volume)
        Reduce exposure to smoke and other hazardous pollutants
        Create income opportunities by creating jobs
        Procure and distribute LPG cylinders with a structured repayment plan for ease
        Reduce deforestation and reduced C02 emission.
        Creating awareness and customer acquisition  using our Proximity alert APP
      </p>
      <div class="row p-t-30">
        <div class="large-6 columns">
          <ul class="list-icon check-square-o">
            <li>Top up or Refill (flexible purchase volume)</li>
            <li>Gas meter informs on refill level</li>
            <li>Cleaner, cheaper and healthier heating fuel</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <ul class="list-icon check-square-o">
            <li>Convenience (as the gas is delivered to their doorstep)</li>
            <li>Stress free  and cheaper (than driving around looking for a gas plant or road side vendor)</li>
            <li>Delivering liquefied petroleum gas (Top up or Refill) product to their doorstep</li>
            <li>Low/affordable payment options</li>
          </ul>
        </div>
      </div>
      <h5>Patent</h5>
      <p>
        Gas on Wheels has a PATENT which gives it the sole rights to the model for delivery of LPG throughout Nigeria. Any organization that wishes to copy our model MUST obtain a license from Gas on Wheels. The patent is valid for 20 years and after that, we have first right of renewal. 
      </p>
      <h5>Blue Print</h5>
      <p>Nigeria is said to be a gas country with an estimated reserve of 182 trillion cubic feet (Ministry of Petroleum). The gas sector is expanding and investment opportunities open up on daily basis. This will generate employment, provide raw materials for our industries; generate physical development and above all self-sufficiency. There are over 180 million people in Nigeria most of whom cook with wood/coal and other biomass producing smoke and other hazardous pollutants kills over 95,000 Nigerians annually. Many do not have constant electricity, this has given rise to the market for LPG as an automotive fuel for cars and generators and has begun to shape the way we look at LPG which is widely used as a “green” fuel in the western world as its use reduces CO2 exhaust emissions by around 15 per cent compared to petrol. By this, we would enable Nigerians use gas to power their vehicles and generator</p>
    </div>
  </div>
</section>

