<section class="wd-title-bar">
  <div class="row">
    <div class="large-12 columns p-t-70 text-left">
      <h2 id="page-title" class="title">About Gas on Wheels</h2>
      {{!-- <h5>Affordable, environmental friendly energy</h5> --}}
    </div>
  </div>
</section>
<section class="green_solar">
  <div class="row">
    <div class="large-12 columns  wd-title-section_c">
      

    </div>
    {{!-- <div class="large-6 small-12 columns">
      <div class="">
        <img class=" " src="images/z2-570x370.jpg" alt="z2" title="z2" width="570" height="370"></div>
    </div> --}}
    <div class="large-12 small-12 columns">
      <div class="wd-title-block">
        <h5>Why Choose Us</h5>
      </div>
      <p>Gas on wheels is an innovative business idea that intends to outmodern the delivery of liquefied petroleum gas 
        to homes and businesses. Our "top up or refill" (flexible purchase volume) of existing gas level model will make 
        it more readily affordable and available. It will ensure conversion from harmful biomass to Liquefied Petroleum 
        Gas in homes and businesses particularly in remote areas and communities. Our goal involves creating awareness 
        and showcasing liquefied petroleum gas as a cheaper, cleaner and healthier burning fuel. Most of these people 
        lack access to clean energy and still cook using solid fuels such as firewood, charcoal, coal, crop wastes and 
        animal dung and kerosene in open fires and inefficient stoves. it is evidenced that a cleaner, stress free and 
        less expensive way of cooking would be the right option.
      </p>
      <p>Gas on Wheels seeks to establish numerous niche delivery outlets in Nigeria and across Africa. Each niche 
        outlet would be designed to be an Lpg depot fitted with a large Lpg tank (10ton) which would be supplied by 
        the bulk Lpg suppliers wholesale. The customized 2ton (2,000kg) mini trucks ( which can refill 160 units of 
        12.5kg cylinders) would fill up from the depot and subsequently deliver Lpg ("Top up or refill") to small 
        businesses and individuals in that immediate locale. This is to ensure logistics cost is kept low. 
        Once the mini trucks are done with a load, they return to their depot nearby for a quick refill and continue 
        deliveries. Gas metered valves would also be made available to customers for gas reading/level so as not to be 
        caught unawares in future as well as to help us plan our deliveries and avoid massive impromptu calls.
      </p>
      <div class="row p-t-30">
        <div class="large-6 columns">
          <ul class="list-icon check-square-o">
            <li>Top up or Refill (flexible purchase volume)</li>
            <li>Gas meter informs on refill level</li>
            <li>Cleaner, cheaper and healthier heating fuel</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <ul class="list-icon check-square-o">
            <li>Convenience (as the gas is delivered to their doorstep)</li>
            <li>Stress free  and cheaper (than driving around looking for a gas plant or road side vendor)</li>
            <li>Delivering liquefied petroleum gas (Top up or Refill) product to their doorstep</li>
            <li>Low/affordable payment options</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

