{{!< default}}

<section class="slider">
  <ul class="example-orbit " data-orbit>
    <li class="slide-1 active">
      <img src="images/bluebobtail.jpg" alt="slide 1"/>
      <div class="row">
        <div class="orbit-caption animated " data-animated="fadeInUp">
          <p>
            Affordable Energy
          </p>
          <h3>
            Gas On Wheels
          </h3>
          <a href="#products" class="button small">READ MORE</a>
        </div>
      </div>
    </li>
    <li class="slide-1 active">
      <img src="images/bobresize.jpg" alt="slide 1"/>
      <div class="row">
        <div class="orbit-caption animated " data-animated="fadeInUp">
          <p>
            Clean Energy
          </p>
          <h3>
            Clean non toxic energy
          </h3>
          <a href="#products" class="button small">READ MORE</a>
        </div>
      </div>
    </li>
    <li class="slide-1 active">
      <img src="images/resizeme.jpg" alt="slide 1"/>
      <div class="row">
        <div class="orbit-caption animated " data-animated="fadeInUp">
          <p>
            Long Lasting
          </p>
          <h3>
            Long lasting energy source
          </h3>
          <a href="#products" class="button small">READ MORE</a>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="provide" id="products">
  <div class="row">
    <div class="large-12 columns clearfix  wd-title-section_c">
      <h2>Gas on Wheels offfers</h2>

    </div>
    <div class="large-4 small-12 columns clearfix">
      <div class="wd-section-blog-services text-center style-3 anim-on">
        <article class="layout-2  ">
          <div class="wd-blog-post nohover">
            <div class="svg-wrapper">
              <svg width="172" height="172" xmlns="http://www.w3.org/2000/svg">
                <rect height="166" width="166" class="shape"></rect>
              </svg>
              <div class="img-wrapper">

                <img src="images/affordable.jpg" alt="icon">
              </div>
            </div>
            <h4 class="wd-title-element">Affordable</h4>
            <p>
              We provide gas at highly affordabel rate </p>
          </div>
        </article>
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <div class="wd-section-blog-services text-center style-3 anim-on">
        <article class="layout-2  ">
          <div class="wd-blog-post nohover">
            <div class="svg-wrapper">
              <svg width="172" height="172" xmlns="http://www.w3.org/2000/svg">
                <rect height="166" width="166" class="shape"></rect>
              </svg>
              <div class="img-wrapper">

                <img src="images/durability.jpg" alt="icon">
              </div>
            </div>
            <h4 class="wd-title-element">Long Lasting</h4>
            <p>
              LPG is know to last longer hence you spend less </p>
          </div>
        </article>
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <div class="wd-section-blog-services text-center style-3 anim-on">
        <article class="layout-2  ">
          <div class="wd-blog-post nohover">
            <div class="svg-wrapper">
              <svg width="172" height="172" xmlns="http://www.w3.org/2000/svg">
                <rect height="166" width="166" class="shape"></rect>
              </svg>
              <div class="img-wrapper">

                <img src="images/ecofriendly.jpg" alt="icon">
              </div>
            </div>
            <h4 class="wd-title-element">Eco Friendly</h4>
            <p>
              LPG is aslo very eco friendly and clean  </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="save_the_planet">
  <div class="large-4 small-12 columns clearfix"></div>
  <div class="large-4 small-12 columns clearfix">
    <div class="large-12 columns clearfix  wd-title-section_c white_col">
      <h2>Maintain A Clean Envionment</h2>
    </div>
    <div class="wpb_text_column wpb_content_element  vc_custom_1494239912217 text-center">
      <div class="wpb_wrapper">
        <p style="color: #fff;">As against the coal and other high smoke emiting sources LPG promotes clean environment, making your
          kitchen and power house look sparkling clean.
        </p>

      </div>
    </div>
  </div>
  <div class="large-4 small-12 columns clearfix"></div>
  <div class="row">
    <div class="moved-bulb">

      <figure class="vc_figure">
        <div class="vc_box_border_grey">
          {{!-- <img
            src="images/bulb.png" alt="bulb"> --}}
        </div>
      </figure>
    </div>
  </div>
</section>
<section class="provide-tow">
  <div class="row">
    <div class="large-12 columns clearfix  wd-title-section_c">
      <h2>We Provide Energy</h2>
      <h5> To many clients like government, homes and offices</h5>
    </div>
    <div class="clearfix">
      <div class="large-3 small-12 columns clearfix">
        <div class="wd-section-text-icon">
          <div class="wd-text-icon-style5  animated   fadeInUp" data-animated="fadeInUp" style="opacity: 1;">
            <div class="box-icon">
              <img src="images/affordable.jpg" alt="icon">
            </div>
            <div class="box-description">
              <h3>Affordable</h3>
              <p>
                Our services are so awesome of passages of Lerem ipsum available </p>
            </div>
          </div>
        </div>
      </div>
      <div class="large-3 small-12 columns clearfix">
        <div class="wd-section-text-icon">
          <div class="wd-text-icon-style5  animated   fadeInUp" data-animated="fadeInUp" style="opacity: 1;">
            <div class="box-icon">
              <img src="images/durability.jpg" alt="icon">
            </div>
            <div class="box-description">
              <h3>Long lasting</h3>
              <p>
                Get Unlimited Energy of passages of Lerem ipsum available </p>
            </div>
          </div>
        </div>
      </div>
      <div class="large-3 small-12 columns clearfix">
        <div class="wd-section-text-icon">
          <div class="wd-text-icon-style5  animated   fadeInUp" data-animated="fadeInUp" style="opacity: 1;">
            <div class="box-icon">
              <img src="images/ecofriendly.jpg" alt="icon">
            </div>
            <div class="box-description">
              <h3>Eco Friendly</h3>
              <p>
                There is many variantions of passages of Lerem ipsum available </p>
            </div>
          </div>
        </div>
      </div>
      <div class="large-3 small-12 columns clearfix">
        <div class="wd-section-text-icon">
          <div class="wd-text-icon-style5  animated   fadeInUp" data-animated="fadeInUp" style="opacity: 1;">
            <div class="box-icon">
              <img src="images/greenerenv.jpg" alt="icon">
            </div>
            <div class="box-description">
              <h3>Zero Carbon Emmission</h3>
              <p>
                There is many variantions of passages of Lerem ipsum available </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="latest_project">
  <div class="row">
    <div class="large-12 columns  wd-title-section_c">
      <h2>Latest Projects</h2>

    </div>
    <div class="wd-section-project">


      <ul class="masque portfolio-grid small-block-grid-1	 medium-block-grid-2 large-block-grid-3">
        <li class="animated  fadeInUp" data-animated="fadeInUp" style="opacity: 1; animation-delay: 0ms;">
          <div class="wd-project hvr-underline-from-center">
            <img src="images/bobtailtruck.jpg"
                 class="attachment-greenenergy_portfolio wp-post-image" alt="slide_3" width="380" height="254"> <a
            href="#"><h4>Bobtail truck</h4>
          </a>
          </div>
        </li>
        <li class="animated  fadeInUp" data-animated="fadeInUp" style="opacity: 1; animation-delay: 300ms;">
          <div class="wd-project hvr-underline-from-center">
            <img src="images/lpg_bac.png" class="attachment-greenenergy_portfolio wp-post-image"
                 alt="project_5" width="380" height="254"> <a
            href="#"><h4>LPG Station
            render</h4></a>
          </div>
        </li>
        <li class="animated  fadeInUp" data-animated="fadeInUp" style="opacity: 1; animation-delay: 600ms;">
          <div class="wd-project hvr-underline-from-center">
            <img src="images/lpg_gen.jpg" class="attachment-greenenergy_portfolio wp-post-image"
                 alt="project_6" width="380" height="254"> <a
            href="#"><h4>LPG Generator</h4></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="wd-more-project animated text-center" data-animated="flipInX"
         style="opacity: 1; animation-delay: 900ms;"><a
      class="button small radius" href="">#<i
      class="fa fa-hand-o-right"></i> MORE PROJECTS TO COME...</a></div>
  </div>
</section>
<section class="latest_offer">
  <div class="row">
    <div class="large-6 small-12 columns">
      <form>
        <div class="row">
          <div class="large-12 columns  wd-title-section_l m-t-50" style="margin-bottom: 30px;">
            <h2 style="color: rgb(255, 255, 255);">Get Latest Offers</h2>
            <hr
              style="height: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 20px 0px 0px; width: 70px;">
          </div>
          <div class="large-12 columns">Subscribe to get the latest offers  and information on out productcs and services<br></div>
          <div class="large-6 columns"><span class="wpcf7-form-control-wrap your-name"><input name="your-name" value=""
                                                                                              size="40"
                                                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                              aria-required="true"
                                                                                              aria-invalid="false"
                                                                                              placeholder="Your Name"
                                                                                              type="text"></span></div>
          <div class="large-6 columns"><span class="wpcf7-form-control-wrap your-email"><input name="your-email"
                                                                                               value="" size="40"
                                                                                               class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                               aria-required="true"
                                                                                               aria-invalid="false"
                                                                                               placeholder="Your Email"
                                                                                               type="email"></span>
          </div>
          <div class="large-12 columns"><input value="Subscribe"
                                               class="wpcf7-form-control wpcf7-submit button alert small radius"
                                               type="submit"><img class="ajax-loader"
                                                                  src="#"
                                                                  alt="Sending ..." style="visibility: hidden;"></div>
        </div>
        <div class="wpcf7-response-output wpcf7-display-none"></div>
      </form>
    </div>
  </div>
</section>