<section class="wd-title-bar">
  <div class="row">
    <div class="large-12 columns p-t-70 text-left">
      <h2 id="page-title" class="title">Products</h2>
    </div>
  </div>
</section>
<section class="portfolio">
  <div class="row">
    <div class="large-12 columns  wd-title-section_c">
      <h2>Make Your Orders</h2>
      <h5>Buy safe gas</h5>

    </div>
    <div class="wd-section-project">


      <ul class="wd-section-portfolio small-block-grid-2 medium-block-grid-2 large-block-grid-4">
        {{# each products}}
          <li>

            <div class="image-wrapper overlay-slide-in-left">

              {{#if image}}<img src="{{{cloudinaryUrl image}}}" class="attachment-greenenergy_portfolio_760x500 wp-post-image" alt="slide_3" width="734" height="500">{{/if}}
              <div class="image-overlay-content">
                <a href="#"><h2>{{{title}}}</h2></a>

              </div>

            </div>

          </li>
        {{/each}}
      </ul>
      <div></div>
    </div>
  </div>
</section>