*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#head{
  height: 90px;
  width: 100%;
  position: sticky;
  top: 0;
  color: #ffffff;
  background: #13a19a;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.main_nav{
  margin-left: auto;
}

.main_nav > ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 40px;
  padding: 10px;
  list-style: none;
}

.main_nav > ul li{
  margin-right: 15px;
  padding: 9px;
  border-radius: 7px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

.active, .main_nav > ul li:hover{
  background: #ffffff;
  color: #13a19a !important;
}

#head h3{
  cursor: pointer;
}

#head h3:hover{
  background: #ffffff;
  color: #13a19a;
  padding: 9px;
}

.main_nav > ul li a{
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  text-transform: inherit;
}


section{
  min-height: 100vh;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#main_section{
  background: #6dd5fa;
  background-size: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
}

.main_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  margin-top: 20%;
  color: #ffffff;
}

.main_content h1{
  text-transform: capitalize;
  font-size: 65px;
  letter-spacing: 8px;
}

.main_content p{
  text-align: center;
  font-size: 25px;
}

.main_content_link{
  text-align: center;
  margin-top: 15px;
}

.main_link{
  color: #ffffff;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 7px;
}

.register_signin_wrapper{
  background: #ffffff;
}

.register_signin{
  background: #ffffff;
  color: #13a19a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35% 8%;
  transition: transform all 0.4s ease;
}

.register_form{
  display: none;
  height: 0;
  transition: 0.3sa;
}

.open_form{
  display: block;
  height: 100%;
  transition: transform all 0.4s ease;
}

.close_form{
  display: none;
  height: 0;
}

label{
  color: #6dd5fa;
}
.form_input{
  position: relative;
  height: 50px;
  margin-top: 9px;
  overflow: hidden;
  color: #6dd5fa;
}

.form_input input{
  width: 100%;
  height: 100%;
  color: #6dd5fa;
  font-size: 20px;
  padding: 5px;
  border: none;
  outline: none;
}


.form_input label{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #6dd5fa;
  height: 100%;
  padding: 5px;
  pointer-events: none;
  border-bottom: 1px solid #13a19a;
}

.form_input label::after{
  content: "";
  position: absolute;
  left: 0;
  color: #6dd5fa;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #6dd5fa;
  transform: translateX(-100%);
  transition: transform all 0.3s ease;
}

.content_name{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form_input input:focus + .label_name .content_name,
.form_input input:valid + .label_name .content_name{
  transform: translateY(-150%);
  font-size: 16px;
  color: #6dd5fa;
}

.form_input input:focus + .label_name::after,
.form_input input:valid + .label_name::after{
  transform: translateY(0);
  color: #6dd5fa;
}

input[type=submit]{
  color: #ffffff;
  background: #6dd5fa;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  width: 80px;
  padding: 5px;
  outline: none;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

span.signup{
  color: #ffffff;
  background: #6dd5fa;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 7px;
}

#about{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
}

.about_content1{
  background: yellowgreen;
}
.about_content2{
  background: #e4dede;
}
.about_content3{
  background: #e4dede;
}
.about_content4{
  background: red;
}


@media only screen and (max-width: 920px){
  #main_section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .main_content{
    margin-top: 0;
    margin: 0;
    align-items: center;
  }
  .main_content h1{
    font-size: 35px;
    letter-spacing: 5px;
  }
  .register_signin{
    margin: 15% 10%;
  }
  .form_input input{
    font-size: 16px;
  }
  .form_input input:focus + .label_name .content_name,
  .form_input input:valid + .label_name .content_name{
    font-size: 14px;
  }
  input[type=submit]{
    font-size: 14px;
    width: 70px;
  }
  #about{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
  }
}

@media only screen and (max-width: 520px){
  .logo{
    position: absolute;
    margin: 0;
    padding: 10px;
    cursor: pointer;
  }
  .nav_icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  .nav_bar1, .nav_bar2, .nav_bar3{
    width: 40px;
    height: 7px;
    background: #ffffff;
    margin: 3px 0;
    border-radius: 3px;
  }

  .change .nav_bar1{
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .change .nav_bar2{
    opacity: 0;
  }

  .change .nav_bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  nav.open{
    display: block;
    width: 70vw;
  }

  .main_nav{
    height: 100vh;
    width: 0;
    background: #13a19a;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    transition: 0.3s;
  }

  .main_nav > ul{
    display: flex;
    flex-direction: column;
  }

  .main_nav > ul li {
    margin: 25px 0;
    transition: 0.2s
  }

  #main_section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  #about{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
  }
}